.user_mypage
  .body
    = render "layouts/header"
    .default-container

      = render 'render/sidebar'

      .container
        .content
          .user-profile
            %img.user-profile__icon
              -# =image_tag 'https://static.mercdn.net/images/member_photo_noimage_thumb.png', class: 'usericon'
            .user-profile__name
              =link_to current_user.nickname, '#', class: 'username'
  