.postsindex {
  .side-bar {
    display: flex;
    .container {
      .post-list {
        list-style: none;
        .list{
          text-decoration: none;
          color: #333;
          font-size: 18px;
          cursor: pointer;
        }
      }
    }
  }
}