.side-list
  %ul
    %li.side-list-item
      = link_to 'My Guide Book','#', class: 'item'
    %li.side-list-item
      = link_to "Post", "/posts/new", class: "item"
    %li.side-list-item
      = link_to 'Profile', '#', class: 'item'
    %li.side-list-item
      = link_to 'Logout', '/users/sign_out', class: 'item'
    