.side-list
  %ul
    %li.side-list-item
      = link_to 'My Guide Book','#', class: 'item'
    %li.side-list-item
      = link_to "Post", "/posts/new", class: "item"
    %li.side-list-item
      = link_to 'Profile', edit_user_path(current_user), class: 'item'
    %li.side-list-item
      = link_to 'Logout', '#', class: 'item'
    